h1{
	font-family:Helvetica, Verdana, Arial,serif;
	font-size:20pt;
}


th{
	font-family:Helvetica, Verdana, Arial,serif;
	padding-right:6px;
	padding-left:6px;
	border: 1px;
	border-spacing: 0;
	font-size:12pt;
	align:center;
	width="100%";
}


td,table{
	font-family:Helvetica, Verdana, Arial,serif;
	padding-right:6px;
	padding-left:6px;
	border: 1px;
	border-spacing: 0;
	font-size:10pt;
	align:center;
	width="100%";
}

footer{
	font-size:10pt;
}

#maintable tr:nth-child(odd) {
   background-color: #44ACFF;
   color:black;
}

#maintable tr:nth-child(even) {
   background-color: #A1D5FF;
   color:black;
}

#alignedright{
	text-align:right;
}
